.border{
    border: 1px solid #333;
}

.img {
    width: 100%;
    height: 100%;
}


.img-card {
    width: 90%;
    height: 90%;
}

.paddingBottom {
    padding-bottom: 12px;
}


.paddingTop {
    padding-top: 12px;
}

.marginTop {
    margin-top: 12px;
}


.buttons:hover{
    opacity: 0.8;
}